#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background: transparent;
  padding: 0 1em;
}

#menu, .sub-menu {
  display: none;
  list-style: none;
  font-family: Helvetica Neue;
  font-style: light;
  color: white;
  font-size: 1.5em, .5em;
  letter-spacing: 4px;
  text-align: left;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  background: black;
  cursor: pointer;

}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition:all .2s;
   -moz-transition:all .2s;
     -o-transition:all .2s;
        transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i { }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
  top: 40%;
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
  top: 40%;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

body {
  background: black;
  font-family: Helvetica Neue;
  font-style: light;
  color: white;
  font-size: 1em;
  letter-spacing: 5px;
  text-align: bottom;
}

.space {
  margin-top: 55px;
  z-index: 999999;
  background: transparent;
  padding: 0 1em;

}

img {
  text-transform: uppercase;
  width: 100%;
  display:block;

}
p {
  margin:0px;
}


/* unvisited link */
a:link {
    color: white;
      text-decoration: none;
}

/* visited link */
a:visited {
    color: grey;
      text-decoration: none;
}

/* mouse over link */
a:hover {
    color: blue;
      text-decoration: none;
}


/* selected link */
a:active {
    color: grey;
      text-decoration: none;
}

/*********/

h1 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    float: left;
    color:white;
    letter-spacing: 0.1em;
 
}

 span a{
    display: block;
    font-weight: 300;
    font-size: 63%;
    color: white;
    padding: 0 0 0.6em    0.1em;
    font-style: italic;
    text-decoration: underline
}

/* 1 column: 320px */
.autowide {
  margin: 0 auto;
  width: 98%;
}

.autowide .module {
  border-radius: .25rem;
  margin-bottom: 1rem;
}
.autowide .module p {
  padding: .25rem .75rem;
}

/* 2 columns: 600px */
@media only screen and (min-width: 600px) {
  .autowide .module {
    float: left;
    margin-right: 2.564102564102564%;
    width: 48.717948717948715%;
  }
  .autowide .module:nth-child(2n+0) {
    margin-right: 0;
  }
}

/* 3 columns: 768px */
@media only screen and (min-width: 768px) {
  .autowide .module {
    width: 31.623931623931625%;
  }
  .autowide .module:nth-child(2n+0) {
    margin-right: 2.564102564102564%;
  }
  .autowide .module:nth-child(3n+0) {
    margin-right: 0;
  }
}

/* 4 columns: 992px and up */
@media only screen and (min-width: 992px) {
  .autowide .module {
    width: 23.076923076923077%;
  }
  .autowide .module:nth-child(3n+0) {
    margin-right: 2.564102564102564%;
  }
  .autowide .module:nth-child(4n+0) {
    margin-right: 0;
  }
}
